@tailwind components;

:root {
  --cc-bg: theme(colors.ardoise);              /* Utilise la couleur ardoise */
  --cc-text: theme(colors.ivoire);             /* Utilise la couleur ivoire */
  --cc-btn-primary-bg: theme(colors.doré);     /* doré */
  --cc-btn-primary-text: theme(colors.anthracite);
  --cc-btn-secondary-bg: transparent;
  --cc-btn-secondary-text: theme(colors.ivoire);
  --cc-btn-secondary-border: theme(colors.doré);
  --cc-toggle-on-bg: theme(colors.doré);
  --cc-toggle-off-bg: theme(colors.acier);
  --cc-toggle-readonly-bg: theme(colors.beigeClair);
}

  