@tailwind components;

:root {
  --cc-bg: var(--ardoise);
  --cc-text: var(--ivoire);
  --cc-btn-primary-bg: var(--doré);
  --cc-btn-primary-text: var(--anthracite);
  --cc-btn-secondary-bg: transparent;
  --cc-btn-secondary-text: var(--ivoire);
  --cc-btn-secondary-border: var(--doré);
  --cc-toggle-on-bg: var(--doré);
  --cc-toggle-off-bg: var(--acier);
  --cc-toggle-readonly-bg: var(--beigeClair);
}
